<div class="headerOn bbPruple">
    <div class="container-fluid">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-6 col-lg-5 col-xxl-4 p-0">
                    <div class="d-flex flex-wrap">
                        <div class="item dotNone  headerLinkColor fs10px">
                            <div class="m-2">
                                <a href="#">World's Fastest Online Shopping Hub</a>
                            </div>
                        </div>
                        <div class="item dotNone  headerLinkColor fs10px">
                            <div class="m-2">
                                <a href="#"><i class="fa-solid fa-phone"></i> Hotline 1.800.123.456789</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xxl-8  p-0">
                    <div class=" d-flex flex-wrap justify-content-md-end">
                        <div class="dotNone  headerLinkColor fs10px">
                            <div class="m-1 m-sm-2">
                                <a href="#">Advertise</a>
                            </div>
                        </div>
                        <div class="dotNone  headerLinkColor fs10px">
                            <div class="m-1 m-sm-2">
                                <a href="#">Gift Card</a>

                            </div>
                        </div>
                        <div class="dotNone  headerLinkColor fs10px">
                            <div class="m-1 m-sm-2">
                                <a href="#">Todays Deal</a>
                            </div>
                        </div>
                        <div class="dotNone  headerLinkColor fs10px ">
                            <div class="m-1 m-sm-2">
                                <a href="#">Help</a>
                            </div>
                        </div>
                        <div class="dotNone  headerLinkColor  fs10px">
                            <div class="m-1 m-sm-2">
                                <a href="#">Store Location</a>
                            </div>
                        </div>
                        <div class="dotNone  headerLinkColor fs10px ">
                            <div class="m-1 m-sm-2">
                                <a href="#">Track Your Order</a>
                            </div>
                        </div>
                        <div class="dotNone  headerLinkColor fs10px ">
                            <div class="m-1 m-sm-2">
                                <div class=" mt-2 mt-sm-3">
                                    <a class="d-flex align-items-center" href="#"><img class="w-14 me-1"
                                            src="../../assets/images/Icon-USA Flag.png" alt="american flag">
                                        English
                                        <i class="fa-solid fa-caret-down fsMinIcon ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>
<div class="headerOn">
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-6 col-lg-2 p-2 d-flex align-items-center">
                    <img class="" src="../../assets/images/logoandtext.png" alt="Zorro header icon">
                    <button class="border-0 bg-transparent menu-btn">
                        <img class="filterMenu ms-2 " src="../../assets/images/menuButon.svg" alt="mobil menu button">
                    </button>
                </div>
                <div class=" col-12 order-5 order-lg-1 col-lg-8 p-2 d-flex align-items-center justify-content-center">
                    <form action="" class="searchForm h-100 w-100 d-flex     justify-content-end align-items-center">
                        <input class="searchButton rounded-3 w-100" type="search">
                        <button class="position-absolute btn-transparant">
                            <i class="fa-solid fa-magnifying-glass fa-sm"></i>
                        </button>

                    </form>
                </div>
                <div
                    class="col-6 col-sm-4  order-1 order-lg-5 col-lg-2 p-2 d-flex align-items-center justify-content-around ">
                    <div>
                        <button type="button" class="btn-transparant position-relative">
                            <img class="w-xl-15" src="../../assets/images/Icon-Heart.png" alt="Heart icon">
                            <span class="position-absolute top-0 start-100 fav badge rounded-pill bg-danger">1<span
                                    class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn-transparant position-relative">
                            <img class="w-xl-15" src="../../assets/images/Icon-Cart.png" alt="cart icon">
                            <span class="position-absolute top-0 start-100 fav badge rounded-pill bg-danger">2<span
                                    class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="signIn">
                        <button type="button" class="btn-transparant position-relative">
                            <img class="w-xl-15 pe-1" src="../../assets/images/Icon-User.png" alt="User icon">
                            SIGN IN
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="">
    <div class="no-m-p navbar sticky">
        <div class="bg-white menu-items  py-lg2 ulpx2">
            <div class="me-2">
                <p class="fs-6 color676970 nowrap">Search By CATEGORY
                    <img src="../../assets/images/Icon - Arrow.png" alt="icon right arrow">
                </p>
            </div>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Apliancess</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Electronics</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Mobile </a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Computer </a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Books </a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Home & Kitchen</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Man</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Woman</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Kids </a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Beauty </a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Apliancess</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Sports</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fs10px">
                <li>
                    <a href="#" class="menu-item first-item expand-btn">Fitness</a>
                    <div class="mega-menu sample">
                        <div class="content">
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 1</div>
                                    <a href="#" class="img-wrapper"><span class="img"><img
                                                src="https://picsum.photos/400?random=1"
                                                alt="Random Image" /></span></a>
                                    <p>Very beautiful.</p>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 2</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item with a long menu name 1</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 2</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 3</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 4</a></li>
                                        <li><a href="#" class="menu-item">Item with a long menu name 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 3</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col">
                                <section>
                                    <div class="menu-title">Category 4</div>
                                    <ul class="mega-links">
                                        <li><a href="#" class="menu-item">Item 1</a></li>
                                        <li><a href="#" class="menu-item">Item 2</a></li>
                                        <li><a href="#" class="menu-item">Item 3</a></li>
                                        <li><a href="#" class="menu-item">Item 4</a></li>
                                        <li><a href="#" class="menu-item">Item 5</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>