@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #f7f7f7;
}

p {
    margin: 0;
}

sup {
    top: -0.3em;
}

.zIndex2 {
    z-index: 2;
}

.mt-50 {
    margin-top: -50px;
}

.latoFont {
    font-family: 'Lato', sans-serif;
}

.headerOn {
    background-color: #3919b0;
}

.headerLinkColor a {
    transition: .2s;
    color: #aea2db;
}

.headerLinkColor a:hover {
    color: #eeecf7;
}

.color808081 {
    color: #808081;
}

.liteGrey {
    color: #3f4042;
}

.colorbcbcbd {
    color: #bcbcbd;
}

.headerLinkUnderColor a {
    color: #3f4042;
    transition: .2s;
}

.headerLinkUnderColor a:hover {
    color: #0d0d0e;
}

.dotNone {
    list-style: none;
}

.fs10px a {
    font-size: 10px;
}

.fs7px {
    font-size: 7px;
}

.fs10 {
    font-size: 10px;
}

.fs12 a {
    font-size: 12px;
}

.fs12px {
    font-size: 12px;
}

.fs18 a {
    font-size: 18px;
}

.fs18px {
    font-size: 18px;
}

.fs14 a {
    font-size: 14px;
}

.fs14px {
    font-size: 14px;
}

.dotNone a {
    text-decoration: none;
}

.signIn button {
    font-size: 10px;
    text-decoration: none;
    padding: 8px;
    color: #eeecf7;
}

.h-5 {
    height: 5px;
}

.bbPruple {
    border-bottom: 1px solid #aea2db;
}

.fsMinIcon {
    font-size: 8px;
}

.filterMenu {
    filter: brightness(20);
}

.searchForm {
    border: none;
}

.searchButton {
    outline: none;
    border: none;
}

.searchButton:focus-visible {
    outline: none;
    border: none;
}

.btn-transparant {
    background: transparent;
    border: none;
}

.bg-transprant {
    border: none !important;
    background-color: transparent !important;

}

.w-14 {
    height: 10px !important;
    width: 14px !important;
}

.fav {
    transform: translate(-75%, -35%);
    padding: 0.25em 0.6em !important;
}

@media(max-width:1200px) {
    .fav {
        transform: translate(-75%, 0%);
        padding: 0.2em 0.45em !important;
        font-size: 10px;
    }
}

.imgPadding img {
    padding: 5px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: white !important;
    border-radius: 50%;
}

.mhx95 {
    max-width: 95% !important;
    max-height: 95% !important;
}

.owl-theme .owl-nav .disabled {
    opacity: 1 !important;
}

.owl-carousel .owl-nav button.owl-prev {
    background-image: url("../images/Icon\ Arrow.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.owl-carousel .owl-nav button.owl-next {
    background-image: url("../images/Icon\ Arrow.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transform: rotateY(180deg);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    color: transparent;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: transparent;
}

.owl-carousel .owl-nav button {
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.5) !important;
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;

}

.owl-carousel .owl-nav button.owl-prev {
    left: 100px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 100px;
}

.Carousel2_1 .owl-nav button {
    top: -60px;
}

.Carousel2_1 .owl-nav button.owl-prev {
    left: auto;
    right: 60px;

}

.Carousel2_1 .owl-nav button.owl-next {
    right: 10px;
}

.Carousel2_2 .owl-nav button {
    top: -60px;
}

.Carousel2_2 .owl-nav button.owl-prev {
    left: auto;
    right: 60px;

}

.Carousel2_2 .owl-nav button.owl-next {
    right: 10px;
}

.Carousel6 .owl-nav button.owl-prev {
    background-image: url("../images/Icon\ Arrow.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.Carousel6 .owl-nav button.owl-next {
    background-image: url("../images/Icon\ Arrow.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transform: rotateY(180deg);
}

.Carousel6 .owl-nav button.owl-next,
.Carousel6 .owl-nav button.owl-prev {
    border-radius: 50%;
}


.Carousel6 .owl-nav button.owl-next span,
.Carousel6 .owl-nav button.owl-prev span {
    color: transparent;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: transparent;
}

@media(min-width:576px) {
    .Carousel6 {
        border-left: 1px solid #ebebeb;
    }
}

.Carousel6 .owl-nav button {
    transition: .5s;
    background-color: rgba(255, 255, 255) !important;
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 5px 2px rgb(192, 192, 192) !important;
}

.bgPink {
    background-color: #ffd9e3;
}

.darkPink {
    color: #fa4f91;
}

.Carousel6 .owl-nav button:hover {
    box-shadow: 0px 3px 5px 2px rgb(216, 216, 216) !important;
}

.Carousel6 .owl-nav button.owl-prev {
    left: -25px;
}

.Carousel6 .owl-nav button.owl-next {
    right: -25px;
}

.Carousel7 .owl-nav button.owl-prev {
    left: -25px;
}

.Carousel7 .owl-nav button.owl-next {
    right: -25px;
}

.Carousel7 .owl-nav button {
    top: 25%;
    transition: .5s;
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 4px 0px 5px 1px rgb(192, 192, 192) !important;
}

.Carousel7 .owl-nav button:hover {
    box-shadow: 4px 0px 5px 1px rgb(216, 216, 216) !important;
}

.Carouselshop .owl-nav button.owl-next {
    right: -25px;
}

.Carouselshop .owl-nav button.owl-prev {
    left: -25px;
}

@media(min-width:1200px) {

    .CarouselDteal .owl-dots {

        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .CarouselDteal .owl-stage-outer {
        width: 75%;
    }

    .CarouselDteal {
        display: flex !important;
        flex-direction: row-reverse;
    }

    .wr75 {
        width: 75%;
    }
}

.CarouselDteal .owl-dots span {
    background-color: #ebebeb !important;
}

.CarouselDteal .owl-dots .owl-dot.active span {
    background-color: #fa4f91 !important;
}

@media(min-width:576px) {
    .comment {
        border-left: 1px solid #ebebeb;
    }
}

.comment .owl-nav button.owl-prev {
    left: -25px;
}

.comment .owl-nav button.owl-next {
    right: -25px;
}

.comment .owl-nav button {
    top: 45%;
    transition: .5s;
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0px 3px 5px 2px rgb(192, 192, 192) !important;
}

.comment .owl-nav button:hover {
    box-shadow: 0px 3px 5px 2px rgb(216, 216, 216) !important;
}

.bannerBg {
    background-image: url("../images/__\ Background\ __.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.productImgSize {
    height: 185px;
    width: auto !important;
}

.productImg img {
    margin: auto;
    height: 100%;
    width: auto !important;
}

.productDescription {
    padding: .75rem 2rem 1.25rem;
}

.bgDarkPink {
    background-color: #fa4f91;
}

.clipPath {
    background-color: #fa4f91;
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
}

.clipPath2 {
    margin-top: 25px;
    margin-right: 25px;
    clip-path: polygon(10% 50%, 0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
    background-color: #fa4f91;

}

.clipPath3 {
    margin-top: 25px;
    clip-path: polygon(10% 50%, 0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
    background-color: #fa4f91;
}

.productLink:hover {
    color: #fa4f91;
}

.productLink::after {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    border-radius: 3px;
    background-color: #fa4f91;
    transition: .3s;
}

.productLink:hover::after {
    transform: scaleX(1);
}

.bannerButtonBg {
    background-color: #f0ff00;
}

.fw600 {
    font-weight: 600;
}

.fs52 {
    font-size: 52px;
}

.fs65 {
    font-size: 65px;
}

.footerBg {
    background-color: #e8e8e8;
}

.FooterHead {
    color: #3f4042;
    transition: .2s;
}

.FooterHead:hover {
    color: #0d0d0e;
}

.footerBody a {
    text-decoration: none;
    display: block;
    margin: 8px 0;
}

.footerPayment div {
    padding: 10px;
}

@media(max-width:1200px) {
    .w-xl-15 {
        width: 15px !important;
    }
}

@media(max-width:991.8px) {
    .w-lg-75 {
        width: 75% !important;
    }
}

@media(max-width:575.8px) {
    .fs-sm-1 {
        font-size: 1rem;
    }
}

@media(max-width:575.8px) {
    .fs-sm-42 {
        font-size: 42px;
    }
}

.menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}

.menu-item:hover {
    color: #f3b042;
}

.expand-btn.open+.sample {
    max-height: 100%;
    transform: scaleZ(1);
}

.expand-btn.open+.blog.sample {
    max-height: 100%;
    transform: scaleZ(1);
    max-width: fit-content;
}



.navbar {
    background: #ffffff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 190px;
    -webkit-box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
}

@media(max-width:1400px) {
    .navbar {
        padding: 0 50px;
    }
}

@media(min-width:1800px) {
    .navbar {
        padding: 0 305px;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .logo {
    text-decoration: none;
    color: #122f48;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

/* nav menu button */

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 2;
}

.navbar .menu-btn__lines::before,
.navbar .menu-btn__lines::after {
    content: "";
    position: absolute;
}

.navbar .menu-btn__lines,
.navbar .menu-btn__lines::before,
.navbar .menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background: #132f48;
    transition: all 0.4s ease-in-out;
}

.navbar .menu-btn__lines::before {
    transform: translateY(-0.5rem);
}

.navbar .menu-btn__lines::after {
    transform: translateY(0.5rem);
}

.navbar .menu-items {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    transition: 0.3s ease;
}

.navbar ul li .arrow {
    transition: all 0.3s ease-out;
}

.navbar ul li a {
    text-decoration: none;
    color: #112f48;
    padding: 10px 0;
}

/* dropdown menu */

.navbar .dropdown {
    position: relative;
}

.expand-btn:after {
    content: " \25BE";
    opacity: 0.4;
    margin-left: 5px;
}

.maxW190 {
    max-width: 190px;
}

.navbar .dropdown-menu,
.menu-right {
    position: absolute;
    background: #e9ecef;
    width: 190px;
    line-height: 30px;
    border-radius: 0 0 5px 5px;
    top: 65px;
    border-top: 1px solid white;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
}

.navbar .menu-right {
    top: 0;
    left: 100%;
}

.navbar .dropdown-menu,
.menu-left {
    left: unset;
    right: 0;
}

.navbar .menu-left {
    left: -100%;
}

.navbar .menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
}

.navbar .menu-item:hover {
    color: #f3b042;
}


.navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

#f3b042 .navbar .dropdown-right:hover .menu-right {
    left: 100%;
    opacity: 1;
    visibility: visible;
}

.navbar .dropdown-right:hover .menu-left {
    left: -100%;
}

/* mega menu  */

.navbar .mega-menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: auto;
    border-top: 1px solid #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-out 0s, visibility 0.1s linear 0s;
}

.mega-menu .content {
    background: #e9ecef;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    -webkit-box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
}

.blog .content {
    grid-template-columns: repeat(4, 1fr);
}

.content .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
}

.content .col .img-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
}

.content .col .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content .col img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.content .col .img-wrapper:hover img {
    transform: scale(1.1);
}

.content .col .menu-title {
    color: #f3b042;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: bold;
}

.content .col p {
    line-height: 1.2rem;
    margin-top: 5px;
    color: #112f48;
}

.content .col .mega-links {
    border-left: 1px solid #3c3c3c;
}

.content .col .read-more {
    font-size: 16px;
    display: flex;
    padding-top: 1rem;
    color: #03a9f4;
    transition: color 0.3s ease;
    justify-content: flex-end;
    padding-right: 10px;
}

.col .mega-links li,
.col .mega-links li a {
    padding: 0 1rem;
}

.menu-items li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

.content .col .read-more:hover {
    color: #f3b042;
}

/* animation menu hamburger */
.menu-btn.open .menu-btn__lines {
    transform: translateX(1rem);
    background: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-0.5rem, 0.5rem);
    background: #132f48;
}

.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-0.5rem, -0.5rem);
    background: #132f48;
}

/* Responsive style */

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 10px 20px;
    }

    .overflow {
        overflow: hidden;
    }

    .overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 500;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .overlay--active {
        opacity: 1;
        visibility: visible;
    }

    .menu-btn {
        display: flex;
    }

    .navbar .menu-items {
        position: fixed;
        height: 100%;
        max-height: initial;
        overflow-y: auto;
        width: 80%;
        top: 0;
        left: 0;
        background: #fcfcfc;
        display: block;
        transform: translateX(-100vh);
        transition: 0.3s ease-out;
        padding-bottom: 100px;
    }

    .menu-items.open {
        transform: translateY(0);
    }

    .menu-items li:first-child {
        margin-top: 20px;
    }

    .menu-items li a {
        display: block;
        font-size: 18px;
    }

    .menu-items .dropdown-right .right-arrow {
        transform: rotate(90deg);
    }

    /* DROPDOWN, MEGA MENUS */
    .menu-items .dropdown-menu,
    .menu-items .menu-right,
    .menu-items .mega-menu {
        position: static;
        opacity: 1;
        top: 4rem;
        visibility: visible;
        margin-left: -18px;
        width: auto;
        max-height: 0;
        transform: scaleX(0);
        transform-origin: left;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .menu-items .dropdown-menu,
    .menu-items .menu-right {
        width: 102%;
        margin-left: -10px;
    }

    .menu-items .mega-menu .col {}

    .expand-btn.open+.sample {
        max-height: 100%;
        transform: scaleZ(1);
    }

    .expand-btn.open+.blog.sample {
        max-height: 100%;
        transform: scaleZ(1);
        max-width: fit-content;
    }

    .navbar .sample {
        border-top: none;
    }

    .sample li {
        margin: 0;
    }

    .sample li:last-child {
        border-bottom: none;
    }

    .sample li a {
        font-size: 1rem;
    }

    .mega-menu .content {
        grid-template-columns: auto;
        padding: 1rem 1rem 0 1rem;
    }

    .mega-menu .content .col {
        width: 100%;
        padding-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .col .mega-links li,
    .col .mega-links li a {
        padding: 0 0.5rem;
    }

    .content .col .mega-links {
        border-left: 0;
        padding-left: 0.5rem;
    }

    .col .mega-links li {
        margin: 0;
    }

    .py-lg2 {
        padding: 0;
    }
}

.no-m-p ul {
    margin: 0;
    padding: 0;
}

.mp-s {
    margin-left: 0;
    padding: 0;
}

.productButon {
    background-color: #19c144;
    color: white;
}

.productButonPink {
    background-color: #fff;
    color: #fa4f91;
    border: 1px solid #fa4f91 !important;
}

.product {
    border-left: 1px solid #ebebeb;
}

.textGreen {
    color: #19c144;
}

.colore0e1e2 {
    color: #e0e1e2;
}

.h235 {
    height: 235px;
}

/*Star*/
.star {
    margin: 2px;
    padding: px;
    clip-path: polygon(99.833% 37.933%, 99.833% 37.933%, 99.704% 37.609%, 99.542% 37.305%, 99.349% 37.023%, 99.128% 36.766%, 98.881% 36.534%, 98.611% 36.33%, 98.319% 36.156%, 98.009% 36.014%, 97.682% 35.906%, 97.341% 35.834%, 66.6% 31.138%, 52.827% 1.797%, 52.827% 1.797%, 52.655% 1.48%, 52.451% 1.189%, 52.217% 0.925%, 51.957% 0.691%, 51.672% 0.487%, 51.368% 0.317%, 51.045% 0.181%, 50.707% 0.082%, 50.356% 0.021%, 49.997% 0%, 49.997% 0%, 49.637% 0.021%, 49.287% 0.082%, 48.949% 0.181%, 48.627% 0.317%, 48.322% 0.487%, 48.038% 0.691%, 47.778% 0.925%, 47.544% 1.189%, 47.339% 1.48%, 47.167% 1.797%, 33.394% 31.138%, 2.653% 35.836%, 2.653% 35.836%, 2.312% 35.908%, 1.985% 36.015%, 1.675% 36.157%, 1.383% 36.331%, 1.113% 36.535%, 0.866% 36.767%, 0.645% 37.025%, 0.452% 37.306%, 0.29% 37.61%, 0.161% 37.934%, 0.161% 37.934%, 0.069% 38.27%, 0.015% 38.61%, -0.001% 38.95%, 0.02% 39.289%, 0.078% 39.622%, 0.171% 39.948%, 0.299% 40.262%, 0.462% 40.562%, 0.658% 40.845%, 0.888% 41.108%, 23.222% 64.009%, 17.944% 96.359%, 17.944% 96.359%, 17.906% 96.713%, 17.909% 97.065%, 17.951% 97.411%, 18.03% 97.748%, 18.146% 98.073%, 18.297% 98.384%, 18.482% 98.677%, 18.7% 98.949%, 18.949% 99.196%, 19.228% 99.417%, 19.228% 99.417%, 19.392% 99.525%, 19.561% 99.622%, 19.734% 99.708%, 19.912% 99.783%, 20.092% 99.846%, 20.276% 99.897%, 20.461% 99.937%, 20.649% 99.966%, 20.837% 99.983%, 21.027% 99.989%, 21.027% 99.989%, 21.182% 99.985%, 21.338% 99.973%, 21.493% 99.954%, 21.647% 99.926%, 21.8% 99.891%, 21.952% 99.848%, 22.102% 99.797%, 22.25% 99.739%, 22.396% 99.672%, 22.539% 99.598%, 49.995% 84.413%, 77.452% 99.598%, 77.452% 99.598%, 77.595% 99.672%, 77.74% 99.739%, 77.888% 99.797%, 78.038% 99.848%, 78.19% 99.891%, 78.343% 99.926%, 78.498% 99.954%, 78.653% 99.973%, 78.808% 99.985%, 78.964% 99.989%, 78.964% 99.989%, 79.153% 99.983%, 79.342% 99.966%, 79.53% 99.937%, 79.715% 99.897%, 79.899% 99.846%, 80.08% 99.783%, 80.257% 99.708%, 80.43% 99.622%, 80.599% 99.525%, 80.763% 99.417%, 80.763% 99.417%, 81.042% 99.196%, 81.291% 98.949%, 81.509% 98.677%, 81.694% 98.384%, 81.845% 98.073%, 81.961% 97.748%, 82.04% 97.411%, 82.082% 97.065%, 82.084% 96.713%, 82.047% 96.359%, 76.769% 64.009%, 99.103% 41.108%, 99.103% 41.108%, 99.333% 40.845%, 99.53% 40.561%, 99.693% 40.261%, 99.821% 39.947%, 99.915% 39.621%, 99.973% 39.288%, 99.994% 38.949%, 99.978% 38.608%, 99.925% 38.269%, 99.833% 37.933%);
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #ccc;
}

.star.active {
    background-color: #ffcc00;
    /* Seçilen yıldız rengi */
}

.lh12 {
    line-height: 1.2;
}

#resim-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.resim {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.3s;
}

.resim:hover {
    opacity: 0.7;
}

.resimDesign {
    width: 100%;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.responsRadiusLeft {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.responsRadiusRight {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

@media(max-width:567px) {
    .responsRadiusLeft {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}

@media(max-width:567px) {
    .responsRadiusRight {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

.liteBlueBg {
    background-color: #9ce1e6;
}

.orangeBg {
    background-color: #f76844;
}

.skinBg {
    background-color: #fed4af;
}

.fontPlayFair {
    font-family: 'Playfair Display', serif;
}

.yellowBg {
    background-color: #f0f252;
}

.bgElips {
    background-image: url("../images/Bg-elips.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.customPadding {
    padding: 100px 70px !important;
}

.tda {
    transition: textext-decoration .5s;
}

.tda:hover {
    text-decoration: underline !important;
}

.h-420px {
    height: 420px;
}

.textBrown {
    color: #7d532e;
}

.fw-900 {
    font-weight: 900;
}

.h40px {
    height: 40px;
}

.h45px {
    height: 45px;
}

.outlineNone:focus-visible {
    outline: none;
}

.catogryHeader::after {
    content: "";
    position: absolute;
    margin: auto;
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 1px;
    margin-top: 30px;
    background-color: #3f4042;
}

.cardHeader::after {
    content: "";
    margin: auto;
    display: block;
    width: 75px;
    height: 3px;
    border-radius: 1px;
    margin-left: 0;
    margin-top: 10px;
    background-color: #3f4042;
}

.fw-600 {
    font-weight: 600;
}

.liteskinBg {
    background-color: #f7ceb4;
}

.liteskinBg2 {
    background-color: #fddeca;
}

.bodyCardLink a {
    color: #676970;
}

.cardHeaderlink {
    color: #676970;
}

.bgfcddcb {
    background-color: #fcddcb;
}

.linkSpace a {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gradientPinkBg {
    background: rgb(255, 197, 221);
    background: radial-gradient(circle, rgba(255, 197, 221, 1) 26%, rgba(255, 178, 210, 1) 44%);
}

.mt100 {
    margin-top: 50px;
}

#dots {
    display: none;
}

.bgdddd {
    background-color: #dddddd;
}

.end-75 {
    right: 75%;
}

.bgfddecc {
    background-color: #fddecc;
}

.text3e3e3e {
    color: #3e3e3e;
}

.top-9 {
    top: -0.9em;
}

.heihgt280Px {
    height: 280px;
}

.h-95 {
    height: 95px;
}

.dz {
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}

.bgf7f7f7 {
    background-color: #f7f7f7;
}

.bgfeedf4 {
    background-color: #feedf4;
}

.w67 {
    width: 67%;
}

.w460px {
    width: 460px;
}

@media(max-width:767px) {
    .w460px {
        width: 198px;
    }
}

.w200px {
    width: 200px;
}

.w400px {
    width: 400px;
}

.w150px {
    width: 150px;
}

.bgFooterOn {
    background-color: #efefef;
    margin-top: -75px;
}

.mb-145px {
    margin-bottom: -145px;
}

.commentHead {
    width: 70px !important;
    height: 70px !important;
    background-color: #f7f7f7;
}

.personPhoto {
    background-image: url("../images/personPhoto2.jpg");
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.personPhoto2 {
    background-image: url("../images/personPhoto.jpg");
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.h600px {
    height: 600px;
}

.h500px {
    height: 500px;
}

@media(min-width: 992px) {
    .pb15rem {
        padding-bottom: 1.5rem;
    }

    .pt15rem {
        padding-top: 1.5rem;
    }
}

@media(max-width: 767px) {
    .pb15rem {
        padding-bottom: 1.5rem;
    }

    .pt15rem {
        padding-top: 1.5rem;
    }
}

.lh-05 {
    line-height: 0.8;
}

.w40px {
    width: 40px;
}

.bge7f06e {
    background-color: #e7f06e;
}

.h170px {
    height: 170px;
}

.maxWidth100 {
    max-width: 100%;
}


.bottom-20 {
    bottom: 20%;
}

.catogoryShadow:hover {
    background-color: #feedf4 !important;
}

.Carousel2_3 .owl-dots {
    position: relative;
    margin-top: -50px !important;
    z-index: 2;
}

.border0impotat {
    border: none !important;
}

.gridContainer>div {
    height: 270px;
}

.h270 {
    height: 270px;
}

.item1 {
    grid-area: head1;
    background-color: #f3ded3;
}

.item2 {
    grid-area: head2;
    background-color: #eeeeee;
}

.item3 {
    grid-area: footer;
    background-color: #dddddd;
}

.item4 {
    grid-area: right;
    background-color: #ecf2f4;
    height: 100% !important;
}

.item5 {
    grid-area: footer2;
    background-color: #f3e9ec;
}

.gridContainer {
    display: grid;
    grid-template-areas:
        'head1 head1 head1 head1 head1 head1 head2 head2 head2 head2 right right right right right'
        'footer footer footer footer footer2 footer2 footer2 footer2 footer2 footer2 right right right right right';
    gap: 25px;
}

@media(max-width:992px) {
    .gridContainer {
        grid-template-areas:
            'head1 head1 head1 head1 head1 head1 head2 head2 head2 head2 head2 head2 head2 head2 head2'
            'footer footer footer footer footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2'
            'right right right right right right right right right right right right right right right ';
    }
}

@media(max-width:767px) {
    .gridContainer {
        grid-template-areas:
            'head1 head1 head1 head1 head1 head1 head2 head2 head2 head2 head2 head2 head2 head2 head2'
            'footer footer footer footer footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2'
            'right right right right right right right right right right right right right right right ';
    }
}

@media(max-width:567px) {
    .gridContainer {
        grid-template-areas:
            'head1  '
            'head2'
            'footer'
            'footer2'
            'right';
    }
}

.filterImg {
    filter: brightness(0) invert(0.9);
}

.oneBanner {
    background-image: url("../images/__\ Background\ __2.png");
    background-size: cover;
    background-position: center;
}

.h260px {
    height: 260px;
}

.selectProp {
    border: 0px;
}

.selectProp:focus-visible {
    outline: 0px;
}

.brEndGray {
    border-right: 1px solid #ebebeb;
}

.brBBottomGray {
    border-bottom: 1px solid #ebebeb;
}

.maxHeight {
    max-height: 300px;
}

.maxWidth {
    max-width: 300px;
}

.productBrRes {
    border-left: 1px solid #ebebeb;
}

@media only screen and (min-width: 992.1px) and (max-width: 1200px) {
    .productBrRes {
        border-top: 1px solid #ebebeb;
        border-left: 0px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767.4px) {
    .productBrRes {
        border-top: 1px solid #ebebeb;
        border-left: 0px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .productBrRes {
        border-top: 0px;
        border-left: 0px;
    }
}

.mt-162px {
    margin-top: -162px;
}

.accordion-button:focus {
    background-color: transparent;
    border-color: transparent !important;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {

    background-color: transparent;
    border-color: transparent !important;
    box-shadow: none;
}

.accordion-button::after {
    display: none;
}

.accordion-button::before {
    content: "";
    background-image: url("../images/ArrowRight.png");
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: auto;
    height: 5px;
    width: 10px;
    transition: .2s;
}

.accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}

.aDblock a {
    display: block;
    margin-top: 5px;
}

.accordion-item {
    border: none;
}

/* double range */


input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 16px;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 15px;
    bottom: 0;
    border-radius: 5px;
}

.slider-track2 {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 15px;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    background-color: #fa4f91;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fa4f91;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fa4f91;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #fa4f91;
}

.values,
.values2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
}

.filterNumber:focus-visible {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}

.downonarrow[type="number"]::-webkit-inner-spin-button,
.downonarrow[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inherit !important;
}

.coloraaabae {
    color: #aaabae;
}

.downonarrow {
    width: 60px;
}

.w35 {
    width: 35%;
}

.rightArrowAfter1::after {
    content: "";
    margin-top: 25px;
    margin-left: 10px;
    width: 50px;
    height: 75px;
    border-top: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
    background-position: right 100%;
    background-repeat: no-repeat;

}

.rightArrowAfter2::after {
    content: "";
    display: block;
    margin-left: 100px;
    width: 150px;
    height: 75px;
    border-left: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    background-position: right 100%;
    background-repeat: no-repeat;

}

.rightArrowAfter3::after {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    border-bottom: 2px solid #ebebeb;
    background-position: right 100%;
    background-repeat: no-repeat;

}

.disabledInput {
    background: transparent;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.disabledInput:focus-visible {
    outline: none;
}

.filterSearch:focus-visible {
    outline: none;
}

.filterSearch {
    padding-left: 25px;
    width: 100%;
}

.color6b6d73 {
    color: #6b6d73;
}

/* checkbox */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 2.3em;
    font-size: 14px;
    line-height: 1.7;
    cursor: pointer;
}

.cursorPointer {
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 1em;
    height: 1em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
    transition: all .275s;
}

[type="checkbox"]:checked+label:before {
    clip-path: polygon(0% 0%, 48.13% 0%, 100% 0%, 99.75% 47.63%, 100% 100%, 49.88% 100%, 0% 100%, 9.98% 89.78%, 49.88% 89.59%, 89.78% 89.78%, 89.78% 49.88%, 89.78% 9.98%, 49.88% 9.98%, 37.41% 41.24%, 27.47% 42.79%, 27.47% 42.55%, 33.45% 64.87%, 49.88% 65.22%, 74.81% 32.61%, 67.54% 26.87%, 42.12% 56.43%, 37.41% 41.24%, 49.88% 9.98%, 90.25% 9.76%, 89.78% 49.88%, 89.96% 90.75%, 49.88% 94.67%, 7.06% 91.57%, 9.98% 49.88%, 8.57% 6.98%, 35.34% 6.1%, 49.88% 9.98%, 9.98% 9.98%, 10.16% 49.88%, 9.98% 89.78%, 0% 100%, 0% 49.38%);
    background-color: #fa4f91;
    border-color: #fa4f91;

}

/* checked mark aspect */
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 14px;
    background-color: #CB22ED !important;
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}

input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* radio */
.paymentRadio {
    font-size: 3em;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    transform: translate(5px, 3px);
    border: 1px solid #eee;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: white;
}

.paymentRadio:checked {
    background-image: url("../images/Selected.png");
    background-position: 55% 50%;
    background-repeat: no-repeat;
    background-size: 40%;
}

.paymentActive {
    display: none;
}

.paymentRadio:checked+label+.paymentActive {
    display: block;
}

.hovertext:hover {
    text-decoration: underline !important;
}

#more {
    display: none;
}

.color6e5ec0 {
    color: #6e5ec0;
}

/* filter color */
.bg4370e1 {
    background-color: #4370e1;
}

.bg4434ee1 {
    background-color: #434ee1;
}

.bg8243e1 {
    background-color: #8243e1;
}

.bgb643e1 {
    background-color: #b643e1;
}

.bge143b3 {
    background-color: #e143b3;
}

.bge83758 {
    background-color: #e83758;
}

.bge89b37 {
    background-color: #e89b37;
}

.bge87137 {
    background-color: #e87137;
}

.bge8e237 {
    background-color: #e8e237;
}

.bgb0e837 {
    background-color: #b0e837;
}

.bg61e837 {
    background-color: #61e837;
}

.bg37e8a3 {
    background-color: #37e8a3;
}

.bg37e6e8 {
    background-color: #37e6e8;
}

.bgbbbbbb {
    background-color: #bbbbbb;
}

.bg524d4e {
    background-color: #524d4e;
}

.bge5e5e5 {
    background-color: #e5e5e5;
}

.colors>[type="checkbox"]:not(:checked)+button {
    margin: 3px;
}

.colors>[type="checkbox"]:checked+button {
    margin: 0;
    border: 3px solid rgb(9, 255, 0) !important;
}

.colord7d8da {
    color: #d7d8da;
}

.brdashed {
    border: 1px dashed #d7d8da;
}

.sizeFilter>button {
    max-width: 42px;
    text-align: center;
    width: 42px;
    max-height: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    background-color: transparent;

}

.sizeFilter>[type="checkbox"]:checked+button,
.BlogListButton>[type="checkbox"]:checked+button {
    background-color: #19c144;
    border: 1px solid #19c144;
    color: #FFF;
}

.sizeFilter>[type="checkbox"]:not(:checked)+button,
.BlogListButton>[type="checkbox"]:not(:checked)+button {
    background-color: #fff;
    border: 1px dashed #d7d8da;
    color: #d7d8da;
}

.BlogListButton>button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    background-color: transparent;
}

.stars {
    display: flex;
}

.stars>div {

    clip-path: polygon(50% 0%, 65% 30%, 98% 35%, 73% 58%, 79% 91%, 50% 70%, 21% 91%, 26% 57%, 2% 35%, 36% 31%);

    width: 15px;
    height: 15px;
    margin: 3px;
}

.bgffba00 {
    background-color: #ffba00;
}

.hcalc {
    min-height: 27vw;
}

@media(max-width:1669px) {
    .hcalc {
        min-height: 31vw;
    }
}

.cutCricle {
    clip-path: polygon(0.04% -0.004%, 100% -0.004%, 100% -0.004%, 99.883% 0.65%, 99.567% 2.525%, 99.1% 5.495%, 98.534% 9.43%, 97.918% 14.203%, 97.301% 19.686%, 96.735% 25.75%, 96.269% 32.268%, 95.952% 39.111%, 95.836% 46.152%, 95.836% 46.152%, 95.952% 54.029%, 96.269% 61.818%, 96.735% 69.343%, 97.301% 76.43%, 97.918% 82.906%, 98.534% 88.595%, 99.1% 93.323%, 99.567% 96.916%, 99.883% 99.2%, 100% 100%, 0.04% 100%, 0.04% 100%, 0.157% 99.189%, 0.473% 96.876%, 0.94% 93.237%, 1.506% 88.452%, 2.123% 82.697%, 2.739% 76.151%, 3.306% 68.992%, 3.772% 61.397%, 4.089% 53.545%, 4.205% 45.613%, 4.205% 45.613%, 4.089% 38.637%, 3.772% 31.862%, 3.306% 25.416%, 2.739% 19.424%, 2.123% 14.009%, 1.506% 9.298%, 0.94% 5.417%, 0.473% 2.489%, 0.157% 0.64%, 0.04% -0.004%);
    background-color: white;
}

.cutLeftCricle {
    background-color: white;
    clip-path: polygon(0.044% -0.004%, 100% -0.004%, 100% -0.004%, 99.872% 0.65%, 99.524% 2.525%, 99.011% 5.495%, 98.389% 9.43%, 97.711% 14.203%, 97.034% 19.686%, 96.411% 25.75%, 95.898% 32.268%, 95.551% 39.111%, 95.422% 46.152%, 95.422% 46.152%, 95.551% 54.029%, 95.898% 61.818%, 96.411% 69.343%, 97.034% 76.43%, 97.711% 82.906%, 98.389% 88.595%, 99.011% 93.323%, 99.524% 96.916%, 99.872% 99.2%, 100% 100%, 0.044% 100%, 0.044% -0.004%);
}

.bgcacbcd {
    background-color: #cacbcd;
}

.colorcacbcd {
    color: #cacbcd;
}

.still:hover {
    background-color: transparent;
    color: #cacbcd;
    border-width: 1px;
}

.still:focus {
    background-color: transparent;
    color: #cacbcd;
    border-width: 1px;
    box-shadow: none;
}

.stillactive:focus {
    background-color: #fa4f91;
    color: #fff;
    border-width: 1px;
    box-shadow: none;
}

.colorfff {
    color: #fff;
}

.stilla a {
    width: 30px;
    height: 30px;
}

.stillas a {
    width: 60px;
    height: 60px;
}

@media(max-width:767.6px) {
    .stillas a {
        width: 30px;
        height: 30px;
    }
}

.textElipses {
    text-overflow: ellipsis;
}

.disabledCursor:hover {
    cursor: not-allowed;
}

.productTitle:hover {
    color: #fa4f91;
    text-decoration: underline !important;
}

.color96979b {
    color: #96979b;
}

.colorfcabc6 {
    color: #fcabc6;
}

.color7fd68f {
    color: #7fd68f;
}

.color676970 {
    color: #676970;
}



.productClick {
    z-index: 2;
}

.wh {
    width: 30px;
    height: 30px;
}

.wh85 {
    width: 85px;
    height: 85px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #fa4f91;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.w180 {
    max-width: 180px;
}

.productClick {
    width: 100%;
}

.maxHeight157 {
    max-height: 157px;
}

.h63 {
    height: 75px;
}

@media(min-width:1200px) and (max-width:1400px) {
    .h63 {
        height: 100px;
    }
}

.h100 {
    height: 75px;
}

@media(min-width:1200px) {
    .h100 {
        height: 100px;
    }
}

.itemsPage {
    position: relative;
    z-index: 2;
    transition: .2s;
}

.itemsPage:hover {
    z-index: 4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mt-115px {
    margin-top: -115px;
}

@media(min-width:500px) {
    .calcWidth {
        width: calc(100% / 3);
    }
}

.calcWidth2 {
    width: calc(100% / 2);
}

.fsRes {
    font-size: 16px;
}

@media(max-width:767px) {
    .fsRes {
        font-size: 14px;
    }
}

.BrandsScrol {
    height: 170px;
    overflow-y: scroll;
}

.catogoriesScrol {
    height: 171px;
    overflow-y: scroll;
}

.catogoriesScrol::-webkit-scrollbar,
.BrandsScrol::-webkit-scrollbar {
    width: 2px;
}

.catogoriesScrol::-webkit-scrollbar-track,
.BrandsScrol::-webkit-scrollbar-track {
    background-color: #cacbcd;
}

.catogoriesScrol::-webkit-scrollbar-thumb,
.BrandsScrol::-webkit-scrollbar-thumb {
    background: #fa4f91;
}

.catogoriesScrol::-webkit-scrollbar-thumb:hover,
.BrandsScrol::-webkit-scrollbar-thumb:hover {
    background: #ff318e;
}

.mt51 {
    margin-top: 51px;
}

.disNone {
    display: none;
}

@media(max-width:767px) {
    .maxWidth285px {
        width: 100%;
        max-width: 285px;
    }
}

.rp::after {
    content: "";
    position: absolute;
    display: block;
    margin-top: 35px;
    width: 30px;
    height: 3px;
    background-color: #676970;
}

.bgWhite50 {
    background-color: #ffffffce;
}

.toggleContent {
    bottom: 0;
    transition: .2s;
}

.productClick:hover .toggleContent {
    opacity: 1 !important;
    margin-bottom: 15px;

}

.toggleContent2 {
    bottom: 0;
    transition: .2s;
    max-width: 300px;
    max-height: 300px;
}

.toggleContent2:hover>.addToCard {
    opacity: 1 !important;
    margin-bottom: 15px;
    transition: .2s;
    width: 100%;
    justify-content: center;
}

.toggleContent2:hover>.iconButton {
    opacity: 1 !important;
    margin: 15px;
    transition: .1s;
}

.mt-60 {
    margin-top: -60px;
}

/* open filter menu */
.openButton#openButton {
    display: none;
}

.icon {
    background: #FFF;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 16px;
    width: 24px;
}

label.icon {
    position: fixed;
    z-index: 200;
}

.icon .openButton,
.icon .openButton::before,
.icon .openButton::after {
    background: #9FB1BD;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.icon:hover .openButton,
.icon:hover .openButton::before,
.icon:hover .openButton::after {
    background: #47B74B;
}

.icon .openButton {
    left: 18px;
    top: 27px;
}

.icon .openButton::before {
    top: -6px;
}

.icon .openButton::after {
    top: 6px;
}

#openButton:checked+.icon .openButton {
    background: transparent;
}

#openButton:checked+.icon .openButton::before {
    transform: rotate(45deg);
}

#openButton:checked+.icon .openButton::after {
    transform: rotate(-45deg);
}

#openButton:checked+.icon .openButton::before,
#openButton:checked+.icon .openButton::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

.openMenu {
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    height: 100vh;
    padding-top: 60px;
    position: fixed;
    transition: width ease .6s;
    width: 0px;
    z-index: 100;

    overflow: hidden;
}

#openButton:checked~.openMenu {
    width: 276px;
}

.openMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.openMenu li {
    cursor: pointer;
    display: block;
    line-height: 60px;
    padding-left: 16px;
    white-space: nowrap;
}

.openMenu i {
    color: #9FB1BD;
    margin-right: 24px;
    vertical-align: text-bottom;
}

.z-15 {
    z-index: 9999;
}

.maxWidth500px {
    max-width: 500px;
}

.bg-black-50 {
    background: #00000081;
}

.p-75 {
    padding: 75px;
}

@media(max-width:450px) {
    .p-75 {
        padding: 50px;
    }
}

@media(max-width:400px) {
    .p-75 {
        padding: 25px;
    }
}

#coMenuBoady {
    transition: .2s;
}

.tableColor>table {
    border-color: #ebebeb;
}

.borderebebeb {
    border: 1px solid #ebebeb !important;

}

textarea {
    resize: none;
}

.borderebebeb:focus-visible {
    outline: transparent;
}

.tableColor thead th {
    font-weight: normal;
}

.tableColor thead th,
.tableColor tbody td {
    color: #676970;
}

.borderBottomebebeb {
    border-bottom: 1px solid #ebebeb;
}

.borderTopebebeb {
    border-top: 1px solid #ebebeb;
}

.faqs .accordion-header>.accordion-button:not(.collapsed) {
    border-bottom: 1px solid #ebebeb !important;
}

.Menus .accordion-header>.accordion-button:not(.collapsed) {
    border-top: 1px solid #ebebeb !important;
}

.faqs .accordion-header>.accordion-button::before,
.Menus .accordion-header>.accordion-button::before {
    content: none;
}

.faqs .accordion-header>.accordion-button:focus {
    border-bottom: 1px solid #ebebeb !important;
}

.Menus .accordion-header>.accordion-button:focus {
    border-top: 1px solid #ebebeb !important;

}

.faqs .accordion-header>.accordion-button::after,
.Menus .accordion-header>.accordion-button::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.Menus .accordion-header>.accordion-button::after {
    background-image: url(../images/plusDark.svg);
}

.faqs .accordion-header>.accordion-button:not(.collapsed)::after,
.Menus .accordion-header>.accordion-button:not(.collapsed)::after {
    content: "";
    background-image: url(../images/minus.svg);
}

.Menus .accordion-header>.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minusDark.svg);
}

.faqs .accordion-header>.accordion-button,
.Menus .accordion-header>.accordion-button {
    padding-left: 0;
    color: #676970 !important;
}

.faqs .accordion-collapse>.accordion-body,
.Menus .accordion-collapse>.accordion-body {
    padding-left: 0;
}

.nav-tabs {
    border: none;
}

.nav-tabs .active {
    background-color: transparent;
    border: none;
    color: #fa4f91;
}

.nav-tabs .active.productLink::after {
    content: "";
    width: 100% !important;
}

.cursorZoom {
    cursor: zoom-in;
}

.h700px {
    height: 700px;
}

.footerPaymentwh div {
    padding: 5px;
}

.footerPaymentwh a>img {
    width: 15px;
    height: 15px;
}

.commentDteal p {
    max-height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pinkDot li::marker {
    color: #fa4f91;
}

.dotLine li::marker {
    color: transparent;
}

.dotLine li::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 1px;
    background-color: #939499;
    margin-bottom: 5px;
    margin-right: 5px;
}

.dtealScrol::-webkit-scrollbar {
    width: 0;
}

.h430px {
    height: 430px;
}

th {
    background-color: transparent !important;
}

td {
    background-color: transparent !important;
}

.bge9e9e9 {
    background-color: #e9e9e9;
}

.whrectangle {
    width: 210px;
    height: 275px;
    position: absolute;
    right: 0;
    top: 200px;
}

.shopingKart tr>td {
    max-width: 225px;
    padding-top: 23px;
}

.wh50 {
    width: 50px !important;
}

.shopingKart tr {
    height: 120px;
}

.continue {
    color: #676970;
}

.continue:hover {
    color: #fa4f91;
}

.w220px {
    width: 220px;
}

.top-18 {
    top: -18px;
}

.mb-60 {
    margin-bottom: -60px;
}

@media (max-width:768px) {
    .fsr {
        font-size: 14px !important;
    }
}

.maxw425px {
    max-width: 425px;
}

@media(max-width:576px) {
    .maxw425px {
        max-width: 100%;
    }
}

.myAccountForm>label {
    color: #676970;
    margin: 25px 0 10px;
}

.myAccountForm>input {
    color: #676970;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding: 8px 15px;
    width: 100%;
}

.myAccountForm>input:focus-visible {
    outline: none;
}

.checkoutForm div>label,
.checkoutForm>label {
    color: #676970;
}

.checkoutForm div>input,
.checkoutForm textarea {
    color: #676970;
    border-radius: 4px;
    border: 1px solid #676970;
    padding: 10px 15px;
}

.checkoutForm div>input:focus-visible,
.checkoutForm textarea:focus-visible {
    outline: none;
}

@media(max-width:576px) {
    .maxWidth100 {
        max-width: 100%;
    }
}

.blogSearch:focus-visible {
    outline: none;
}

.blogSearch {
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: #676970;
}

.blogLink:hover {
    color: #fa4f91;
    text-decoration: underline !important;
}

.maxh42 p {
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wh62 {
    width: 62px;
    height: 62px;
}

.wFitContent {
    width: fit-content;
}

.my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

@media(min-width:992px) {
    .accountBefore::before {
        content: "";
        display: block;
        position: absolute;
        height: 700px;
        margin-top: 20px;
        border-left: 1px solid #ebebeb;
        margin-right: 50px;
    }
}

.wh47px {
    width: 47px;
    height: 47px;
}

.videoStill i {
    transform: translate(18px, 12px);
}

.videoStill {
    background-image: url("../images/aboutUsImg/video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.videoStill>div {
    transition: .3s;
}

.videoStill:hover.videoStill>div {
    background-color: #00000034;
}

.foundersImg {
    max-height: 236px;
    max-width: 170px;
}

@media(max-width:1200px) {
    .h332 {
        height: 332px !important;
    }
}

.justify-content-spacebeetwen {
    justify-content: space-between;
}

.aboutCarousel .owl-dots .owl-dot.active span {
    background: #fa4f91;
}

.aboutCarousel .owl-dots .owl-dot:hover span {
    background: #d6d6d6;
}

.aboutCarousel .owl-dots .owl-dot:hover.active span {
    background: #fa4f91;
}

.aboutCarousel .owl-dots {
    display: flex;
}

@media(max-width:550px) {
    .rCatogory1 {
        display: none;
    }
}

@media(max-width:500px) {
    .rCatogory2 {
        display: none;
    }
}

@media(max-width:450px) {
    .rCatogory3 {
        display: none;
    }
}

@media(max-width:992px) {
    .infoBorder {
        border-top: 1px solid #dee2e6;
        border-left: none;
    }
}

@media(min-width:992px) {
    .infoBorder {
        border-left: 1px solid #dee2e6;
        border-top: none;
    }
}

@media (576px <=width <=992px) {
    .resborder {
        border: none;
    }
}

@media(min-width:992px) {
    .infoRounded {
        border-radius: 0 !important;
        border-top-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }

    .infoRounded4 {
        border-radius: 0 !important;
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }
}

@media(max-width:992px) {
    .infoRounded {
        border-radius: 0 !important;
        border-top-left-radius: 6px !important;
    }

    .infoRounded2 {
        border-radius: 0 !important;
        border-top-right-radius: 6px !important;
    }

    .infoRounded3 {
        border-radius: 0 !important;
        border-bottom-left-radius: 6px !important;
    }

    .infoRounded4 {
        border-radius: 0 !important;
        border-bottom-right-radius: 6px !important;
    }
}

@media(max-width:577px) {
    .infoRounded {
        border-radius: 0 !important;
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
    }

    .infoRounded4 {
        border-radius: 0 !important;
        border-bottom-left-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }
}

.rWidth {
    width: 80%;
}

@media(max-width:1200px) {
    .rWidth {
        width: 70%;
    }
}

@media(max-width:992px) {
    .rWidth {
        width: 60%;
    }
}

@media(576px <=width <=992px) {
    .rFont {
        font-size: 22px !important;
    }
}

.rwBorderInfo {
    border-right: 1px solid #e1e1e1;
}

.rwBorderInfo2 {
    border-right: 1px solid #e1e1e1;

}

.rwBorderInfo3 {
    border-right: 1px solid #e1e1e1;

}

@media(max-width:992px) {
    .rwBorderInfo2 {
        border: none;
    }
}

@media(max-width:576px) {
    .rwBorderInfo {
        border: none;
    }

    .rwBorderInfo2 {
        border: none;
    }

    .rwBorderInfo3 {
        border: none;
    }
}

@media(max-width:576px) {
    .rw576 {
        width: 100%;
    }
}

.Size::before {
    content: '';
    display: none;
}

.maxHeight100 {
    max-height: 100%;
}

.height300 {
    height: 300px;
}

.w340 {
    width: 340px;
}

@media(max-width:992px) {
    .aboutCarousel .owl-dots {
        justify-content: center;
    }
}

.ulpx2>ul {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.ulpx2>ul a {
    text-wrap: nowrap;
}

@media(max-width:1300px) {
    .ulpx2>ul {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}

@media(max-width:1200px) {
    .ulpx2>ul {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

.nowrap {
    text-wrap: nowrap;
}

.mr4 {
    margin-top: 1.5rem;
}

@media(max-width:767px) {
    .mr4 {
        margin-top: 0.8rem;
    }
}